@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 50%;
  font-weight: 100;
}

body{
  font-family: Arial;
}

svg {
    display: block;
    font: 3.8em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
	margin-bottom: 15%;
	font-size: 100px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #062736;
    animation-delay: -1;
}

.text-copy:nth-child(2){
    stroke: #04597d;
    animation-delay: -2s;
}

.text-copy:nth-child(3){
    stroke: #48b3e0;
    animation-delay: -3s;
}

.text-copy:nth-child(4){
    stroke: #1080b0;
    animation-delay: -4s;
}

.text-copy:nth-child(5){
    stroke: #fcad00;
    animation-delay: -5s;
}

@keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
}